@import "tailwindcss";

@theme inline {
  --color-primary-50: #fff0f0;
  --color-primary-100: #ffdddd;
  --color-primary-200: #ffc1c1;
  --color-primary-300: #ff9595;
  --color-primary-400: #ff5959;
  --color-primary-500: #ff2626;
  --color-primary-600: #fc0606;
  --color-primary-700: #cc0000;
  --color-primary-800: #af0505;
  --color-primary-900: #900c0c;
  --color-primary-950: #500000;
  --font-dm-sans: var(--font-dm-sans);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

body {
  @apply font-dm-sans bg-white text-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-dm-sans text-primary-700 font-bold;
}

a,
button {
  @apply cursor-pointer;
}