@import "tailwindcss";
@import "./fonts.css";

@theme inline {
  --color-primary-50: #fff0f0;
  --color-primary-100: #ffdddd;
  --color-primary-200: #ffc1c1;
  --color-primary-300: #ff9595;
  --color-primary-400: #ff5959;
  --color-primary-500: #ff2626;
  --color-primary-600: #fc0606;
  --color-primary-700: #cc0000;
  --color-primary-800: #af0505;
  --color-primary-900: #900c0c;
  --color-primary-950: #500000;
  --font-roobert: 'Roobert', sans-serif;
}

body {
  @apply font-roobert bg-white text-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-roobert text-primary-700 font-bold;
}

a,
button {
  @apply cursor-pointer;
}

a {
  @apply text-primary-700 hover:text-primary-800 font-semibold;
}

.btn {
  @apply bg-primary-700 hover:bg-primary-800 focus-visible:outline-primary-700 rounded-md px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs focus-visible:outline focus-visible:outline-offset-2
}

a.btn {
  @apply text-white hover:text-white;
}

.input {
  @apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-700 sm:text-sm/6;
}